<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIcOifufYqvGwUO5hZrt1eA4Z6leUA0M8</string>
	<key>GCM_SENDER_ID</key>
	<string>739712242269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindcompass</string>
	<key>PROJECT_ID</key>
	<string>mindcompass-e4703</string>
	<key>STORAGE_BUCKET</key>
	<string>mindcompass-e4703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739712242269:ios:a633c4b6f4eca01ebef3b4</string>
</dict>
</plist>